/* BUTTONS PAGINA DE LOGIN */
.login{
    background-color: var(--azul-0);
    border-radius: 4px;
    padding: 10px;
    border: transparent;
    color: var(--branco);
    cursor: pointer;
    
}

header button{
    background-color: var(--branco);
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

header button:hover{
    background-color: var(--azul-6);
}
.cadastro button{
    padding: 10px;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--branco);
}

.cadastro button:hover{
    background-color: var(--azul-6);
    
}
/* BUTTONS PAGINA DE CADASTRO */
.cadastrar{
    background-color: var(--azul-0);
    border-radius: 4px;
    padding: 10px;
    border: transparent;
    color: var(--branco);
    cursor: pointer;
}

/* BUTTONS DASHBOARD ADMIN */

.pagina_admin button{
    background-color: var(--azul-0);
    padding: 10px;
    border: transparent;
    color: var(--branco);
    cursor: pointer;
    text-align: start;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.pagina_admin button:hover{
    background-color: var(--azul-4);
    color: var(--preto);
}

.gerar_empresa button{
    background-color: var(--azul-0);
    padding: 10px;
    border: transparent;
    color: var(--branco);
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-weight: bold;
    
}
.gerar_empresa button:hover{
    background-color: var(--azul-4);
    color: var(--preto);
}