:root{
    --branco : #ffffff;
    --preto  : #000000;
    --azul-0 : #3527c3;
    --azul-1 : #296c90;
    --azul-2 : #4384a9;
    --azul-3 : #5d9cc2;
    --azul-4 : #76b3da;
    --azul-5 : #90cbf3;
    --azul-6 : #cee4fe;
    --verde-0 : #eaf6e6;
    --cinza-0 : rgba(128, 128, 128, 0.301);

}