/* INPUTS LOGIN */
.inputs_login input{
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--cinza-0);
    padding: 5px;
    margin-bottom: 10px;
}
/* INPUTS CADASTRO */
.inputs_cadastro input{
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--cinza-0);
    padding: 5px;
    margin-bottom: 10px;
}
select{
    padding: 8px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--cinza-0);
}

/* INPUTS DASHBOARD ADMIN */
.busca_empresa input{
    padding: 5px;
    border: 1px solid var(--cinza-0);
    outline: none;
}   
.gerar_empresa input{
    height: 40px;
    outline: none;
    border: 1px solid var(--cinza-0);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.gerar_departamento input{
    height: 40px;
    outline: none;
    border: 1px solid var(--cinza-0);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* INPUTS DASHBOARD USUARIO */

.alterar_info input{
    height: 40px;
    outline: none;
    border: 1px solid var(--cinza-0);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}